<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />    
  </connectionStrings>
  <appSettings>
    <!--디비 관련 설정-->
    <!--로컬 디비-->
    <add key="DB_HOST" value="192.168.222.2" />
    <add key="DB_PORT" value="1433" />
    <add key="DB_NAME" value="shirtAR" />
    <add key="DB_USER" value="sa" />
    <add key="DB_PASS" value="sa!@#$%67890" />
    <add key="DB_BACKUP_PATH" value="D:\DBBackup\" />
    <!--페이지 관련 설정-->
    <add key="URL_DOMAIN" value="http://localhost:50002" />
    <add key="URL_LOGIN" value="/Manager/login.aspx" />
    <add key="URL_LOGOUT" value="/Account/logout.aspx" />
    <add key="URL_DEFAULT" value="/notice.aspx" />
    <add key="URL_PREFIX_MEMBER" value="/Account" />
    <add key="URL_PREFIX_MANAGE" value="/Manager" />
    <add key="URL_MOBILE" value="/M" />
    <add key="MAIL_ADMIN" value="onlyone@gmail.com" />

    <!--쿠키 관련 설정-->
    <add key="COOKIE_INUSED" value="true" />
    <!--쿠키사용여부 true: 사용 false: 미사용-->
    <add key="COOKIE_TIMEOUT" value="24" />
    <!--쿠키보관시간 단위: 시간-->
    <!--세션 관련 설정-->
    <add key="SESSION_TIMEOUT" value="60" />
    <!--세션보관시간 단위: 분-->
    
    <!--푸시관련설정-->
    <!--안드로이드-->
    <add key="PUSH_SECRET_KEY" value="kMAeFQKxY9jn43U2GjOPvnnjbH3qfSRK"/>
    <add key="PUSH_API_KEY" value="LZEqOKGr721GBqWs2eMUw75t"/>

    <!--IOS-->
    <add key="PUSH_IOS_HOSTNAME" value="gateway.sandbox.push.apple.com"/>
    <add key="PUSH_IOS_PORT" value="2195"/>
    <add key="PUSH_IOS_CERTIFICATE_PATH" value="p:\항주AR\Web\Web\Tshirt.p12"/>
    <add key="PUSH_IOS_CERTIFICATE_PASSWORD" value="zxcASDqwe!@#4"/>

  </appSettings>
  <system.web>
    <globalization
               culture="ko-KR"
               uiCulture="ko-KR"/>

    <customErrors mode="Off"></customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName=" licationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpRuntime maxRequestLength="200000"></httpRuntime>
    <pages enableEventValidation="false" />
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
